section{
    width: 100vw;
    height: 100vh;
    color: black;
}
body{
    margin: 0;
    padding: 0;
}
#boxen{
    width: 7vw;
    height: 7vh;
}
.container {
    width: 100vw;
    height:20vh;
    
  }
  
  .box {
    width: 0vw;
    height: 2vh;
    transition-duration: 0.7s;
    transition-property: width;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .three {
    background: #9CEAEF;
    transition-timing-function: ease-out;
  }
  #test {
      width: 50vw;
      height: 10vh; 
      background-color: green;
  }
  .floatleft{
      float: left;
  }
  #malmo{
   
  }
  
  #kalmar{
      background-color: red;
  }
  #move{
      position: absolute;
      top: 70vh;
  }
  .a{
      width: 5vw;
      height: 5vh;
  }