@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap');
/* Global settings */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hind Guntur', sans-serif;
}

p{
    font-size: 4vw;
}

a{
    text-decoration: none;
    color: black;
    font-size: 6vw;
}

.green{
    background-color: #6BA579;
}

.purple{
    background-color: #A23FA1;
}

.orange{
    background-color: #D86B36;
}

.red{
    background-color: #CF3746;
}

.pagelayout{
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

.header{
    position: sticky;
    background-color: white;
    top: 0;
    height: 10vh;
    width: 100vw;
    padding-top: 1.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.scroller section {
    scroll-snap-align: start;
}

.btn{
    -webkit-appearance: none;
    font-size: 7.6vw;
    font-weight: bold;
    width: 12vw;
    height: 6.6vh;
    background-color: white;
    display: flex;
    margin-left: 4vw;
    justify-content: center;
    border-radius: 20%;
    border: 1.5vw solid rgba(100, 100, 100, 0.6);
    transition: all 0.2s ease-in-out;
}

#linkdecoration{
    text-decoration: underline;
    color: rgb(40, 40, 255);
    font-size: 4vw;
}

.invisiblebackground{
    background-color: transparent;
    border: none;
}

.enableborderbottom{
    border-bottom: 1vw solid black;
}

/*REPLACE WITH IMAGE LATER*/
.topinfobutton{
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 50%;
    width: 9.6vw;
    padding-top: 0.1vh;
    height: 5.5vh;
    text-align: center;
    font-size: 6vw;
    font-weight: bold;
    right: 10vw;
    top: 2.5vh;
}
/*Starting Page*/
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main > span{
    text-align: center;
}

.pagelayoutaboutus{
    height: none;
    background-color: rgb(255, 255, 255);
}

.barsonmainpage{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 30vw;
    height: 20vh;
    margin-top: 10vh;
}

.bars{
    width: 8vw;
}

#bar1{
    height: 12vh;
    background-color: rgba(139, 36, 187, 0.85);
}

#bar2{
    height: 16vh;
    background-color: rgb(207, 116, 31);
}

#bar3{
    height: 20vh;
    background-color: rgba(25, 119, 16, 0.7);
}

#topspan{
    width: 80vw;
    margin-top: 14vh;
    color: rgb(53, 53, 53);
    font-weight: bold;
    font-size: 6vw;
}

#bottomspan{
    margin-top: 16vh;
}
#marginfromtopspan{
    margin-top: 2vh;
    font-size: 4.5vw;
}

/*Hamburger Menu (Side menu)*/
.display{
    position: fixed;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(122, 115, 115);
    height: 100vh;
    width: 80vw;
    z-index: 1;
    transition: all .5s ease-in-out; 
}

#mainpageimg{
    width: 8vw;
}

#showmenu{
    left: -100vw;
}

.hiddenheader{
    margin-top: -4vh;
    width: 100vw;
    height: 10vh;
    font-size: 3.3vw;
}

.alternatives{
    margin-bottom: 10vh;
    margin-left: 5vw;
    list-style-type: none;
}

.alternatives > li{
    font-size: 6vw;
}

.middlesectioninburger{
    width: 70vw;
    margin-bottom: 6.3vh;
    margin-left: 5vw;
}

#hiddenblockinburger {
    visibility: hidden;
    border-top: 0.7vw dotted black;
    width: 50vw;
}

#arrowswitchimg{
    position: absolute;
    right: 12vw;
    top: 48.6vh;
    width: 4vw;
    transform: rotate(180deg);
    transition: transform .3s;    
}

#arrowswitchimg:focus{
    transform: rotate(180deg);
}

.merinfo{
    margin-top: 10vh;
}

span > h3{
    letter-spacing: 0.3vw;
}

.item {
	position: absolute;
    width: 12vw;
	height: 5vh;
    z-index: 10;
    border-radius: 3vw;
    top: 2.5vh;
    left: 8vw;

}

.menuLine {
	position: absolute;
	height: 0.6vh;
	width: 8vw;
	background: black;
    border-radius: 4vw;
	transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
    z-index: 10;
}

.menuLine1 {
	top:19%;
}

.menuLine2 {
	top:49%;
}

.menuLine3 {
	top:79%;
}

.menu.close .menuLine1 {
	transform:rotate(45deg);
	top:49%;
}

.menu.close .menuLine2, .menu.close .menuLine3 {
	transform:rotate(-45deg);
	top:49%;
}

/*Om Oss Sidan*/

.aboutusheader{
    position: fixed;
    top: 4vh;
    height: 10vh;
}

.picturesaboutus{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 2vw;
    column-gap: 6vw;
    justify-content: center;
}

.pictures{
    width: 36vw;
    height: 20vh;
    background-color: green;
    border: 1vw solid black;
    border-radius: 50%;
}

.invisiblebackground{
    background-color: transparent;
    border: none;
}

.name{
    width: 40vw;
    text-align: center;
    
}

.textaboutus{
    padding: 4vh;
    text-align: center;
}

.profilepicture{
    width: 33.5vw;
    height: 18.7vh;
    border-radius: 50%;
}

.profiletitles{
    width: 35vw;
    text-align: center;
    border-bottom: 1vw solid black;
    font-weight: bold;
}

/*2nd Page*/
#layoutinaccidents{
    display: flex;
    height: 86vh;
    margin-top: 1vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.barsoncrashes{
    width: 90vw;
    height: 70vh;
}

.trafikstatistik{
    width: inherit;
    height: 22vh;
    padding: 2vh 3vw;
    border-bottom: 0.6vw solid black;
    border-left: 0.6vw solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barsintrafik{
    height: 2.5vh;
    width: 0vw;
}

.buttoncontainer{
    width: 100vw;
    height: 22vh;
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 46vw;
}

.btn:focus{
    outline: none;
}

.btn:checked{
    border: none;
}

#umea:checked{
    background-color: #CF3746;
}

#malmo:checked{
    background-color: #6BA579;
}

#goteborg:checked{
    background-color: #D86B36;
}

#stockholm:checked{
    background-color: #A23FA1;
}

.textforcheckbox{
    font-size: 5vw;
    margin-left: 3vw;
}

.btn:checked::before{
    content: '\2714';
}




